h1 {margin-bottom: 40px;}

.buttons {width: 150px; height: 150px; border: 3px solid #cecece; float: left; margin-right: 20px; text-align:center; border-radius: 10px;}
#player .buttons:hover {background: #cecece; cursor: pointer;}

#result th,
#result td {text-align: center;}

#computer {margin-bottom: 30px;}

.active {background: #dff0d8;}

p {padding: 15px;}